<p>
  <label><%= t("field_mojeid_identity_url") %></label>
  <span><%= @user.mojeid_identity_url %></span>
</p>
<p>
  <label><%= t("field_mojeid_status") %></label>
  <span><%= @user.mojeid_status %></span>
</p>
